<a href="https://colab.research.google.com/github/Lauraleejack/go-my-code/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

here are some useful codes on how we use pandas python library

In [4]:
!pip install pandas
import pandas as pd
color=["pink", "white", "black", "blue"]
occurence = [20, 15, 6, 43]
S=pd.Series(occurence, index=color)
print(S)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
pink     20
white    15
black     6
blue     43
dtype: int64

In [6]:
import pandas as pd
color=["pink", "white", "black", "blue"]
S1=pd.Series([20, 15, 6, 43], index=color)
S2=pd.Series([3, 22, 9, 10], index=color)
print(S1+S2)

pink     23
white    37
black    15
blue     53
dtype: int64

In [8]:
data = {"ProductName": ["Product 1", "Product 2", "Product 3"], "ProductPrice": [10, 20, 30]}
df1 = pd.DataFrame(data)
print(df1)

  ProductName  ProductPrice
0   Product 1            10
1   Product 2            20
2   Product 3            30

In [10]:
#2: Construct a DataFrame from a dictionary of lists + specify an index
data = {"ProductName": ["Product 1", "Product 2", "Product 3"], "ProductPrice": [10, 20, 30]}
df2 = pd.DataFrame(data, index=['A', 'B', 'C'])
print(df2)

  ProductName  ProductPrice
A   Product 1            10
B   Product 2            20
C   Product 3            30

In [12]:
data = [{"ProductName": "Product 1", "ProductPrice": 10},
        {"ProductName": "Product 2", "ProductPrice": 20},
        {"ProductName": "Product 3", "ProductPrice": 30}]
df3 = pd.DataFrame(data)
print(df3)

  ProductName  ProductPrice
0   Product 1            10
1   Product 2            20
2   Product 3            30

In [14]:
product_name = pd.Series(["Product 1", "Product 2", "Product 3"])
product_price = pd.Series([10, 20, 30])
data = {"ProductName": product_name, "ProductPrice": product_price}
df4 = pd.DataFrame(data)
print(df4)

  ProductName  ProductPrice
0   Product 1            10
1   Product 2            20
2   Product 3            30

In [15]:
#Construct a DataFrame from a list of lists
data = [['Product 1', 10], ['Product 2', 20], ['Product 3', 30]]
df5 = pd.DataFrame(data, columns=['ProductName', 'ProductPrice'])
print(df5)

  ProductName  ProductPrice
0   Product 1            10
1   Product 2            20
2   Product 3            30